<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <NetChanger.Properties.Settings>
            <setting name="Address" serializeAs="String">
                <value>192.168.1.2</value>
            </setting>
            <setting name="Netmask" serializeAs="String">
                <value>255.255.255.0</value>
            </setting>
            <setting name="Gateway" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="DnsOne" serializeAs="String">
                <value>8.8.8.8</value>
            </setting>
            <setting name="DnsTwo" serializeAs="String">
                <value>4.2.2.4</value>
            </setting>
            <setting name="Static" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InterfaceName" serializeAs="String">
                <value>Wi-Fi</value>
            </setting>
            <setting name="ActiveProfile" serializeAs="String">
                <value>office static</value>
            </setting>
        </NetChanger.Properties.Settings>
    </userSettings>
</configuration>
